.box {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgb(241, 100, 18) 49%, #fff 50%, #1499ff 50%);
}
.btn {
  width: 100vw;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  user-select: none;
}
.font_S {
  display: inline-block;
  font-size: 30px;
}
.font_E {
  display: inline-block;
  font-size: 30px;
}
.tool{
  color: #fff;
}